---
import { navi } from '@data/naviConfig';

const currentYear = new Date().getFullYear();
---

<div class="navi-copyright repel">
  <p>&copy; {navi.config.client} {currentYear}</p>
  <p>All rights reserved.</p>
</div>
