---
import NaviClientLogo from './NaviClientLogo.astro';
import NaviCopyright from './NaviCopyright.astro';
---

<footer class="navi-footer">
  <div class="wrapper">
    <div class="flow">
      <NaviClientLogo />
      <NaviCopyright />
    </div>
  </div>
</footer>
