---
import NaviInternalPagePreview from '@layouts/NaviInternalPagePreview.astro';
---

<NaviInternalPagePreview>
  <div class="cluster">
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Item 1
    </div>
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Item 2
    </div>
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Item 3
    </div>
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Item 4
    </div>
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Item 5
    </div>
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Item 6
    </div>
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Item 7
    </div>
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Item 8
    </div>
  </div>
</NaviInternalPagePreview>
