---
import NaviInternalPagePreview from '@layouts/NaviInternalPagePreview.astro';
---

<NaviInternalPagePreview>
  <article class="flow">
    <p style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra
      augue.
    </p>
    <p style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas
      eget quam.
    </p>
    <p
      style="--flow-space: 3em; padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);"
    >
      \`--flow-space\` set with an inline style to \`3em\`.
    </p>
  </article>
</NaviInternalPagePreview>
