---
import NaviInternalPagePreview from '@layouts/NaviInternalPagePreview.astro';
---

<NaviInternalPagePreview>
  <div class="sidebar">
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      I am the sidebar
    </div>
    <div
      class="flow"
      style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);"
    >
      <h4>I am the content</h4>
      <p>Etiam porta sem malesuada magna mollis euismod.</p>
    </div>
  </div>
</NaviInternalPagePreview>
