---
import NaviInternalPagePreview from '@layouts/NaviInternalPagePreview.astro';
---

<NaviInternalPagePreview>
  <div class="switcher">
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Item 1
    </div>
    <div style="padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);">
      Item 2
    </div>
  </div>
</NaviInternalPagePreview>
