---
import NaviInternalPagePreview from '@layouts/NaviInternalPagePreview.astro';
---

<NaviInternalPagePreview>
  <div
    class="wrapper"
    style="--wrapper-max-width: 800px; padding: 0.25rem 0.5rem; background: var(--color-dark);color: var(--color-light);"
  >
    I am centered and have a nice, consistent gutter.
  </div>
</NaviInternalPagePreview>
