.costing-slide {
  --lede-size: var(--size-step-2);
  --lede-measure: 35ch;
  --flow-space: var(--space-3xl-4xl);
  font-size: var(--size-step-2);
}

.costing-slide__price {
  font-family: var(--font-display);
  font-size: var(--size-step-8);
  font-weight: var(--font-weight-black);
  line-height: var(--leading-flat);
  color: var(--color-primary);
}

@media (--md) {
  .costing-slide {
    --lede-size: var(--size-step-4);
  }
}
