---
import '../css/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <main tabindex="-1" id="main-content">
      <slot />
    </main>
  </body>
</html>
